.imgContainer{
    float:left;
    top: 500px;
    right: 200px;
}
.demo-bg {
    opacity: 0.8;
    position: fixed;
    background-position: right center;
    
    top: 0;
    width: original%;
    height: original%;
  }

/* .demo-bg {
    opacity: 0.8;
    position: fixed;
    background-position: right center;
    
    top: 0;
    width: original%;
    height: original%;
  } */
  #heading{position: relative;
    color: rgb(7, 1, 1);
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.555);
    font-weight: bold;
    top: 30PX;


}
  #navbar {
    background-color: rgba(111, 111, 129);
    padding: 1em 0.7em;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 9vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5em
}

#navbar h3,
#navbar ul {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}
#navbar ul {
    right: 1.5em
}

#navbar h3,
#navbar ul,
#navbar li {
    display: inline;
    color: white
}

#navbar li {
    list-style-type: none;
}